:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

.row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline: auto;
  padding-block: 2rem;
  max-width: 80%;

  .cube {
    width: 3rem;
    aspect-ratio: 1;
    background-color: rgba(0, 200, 200, 0.5);

    &.big {
      width: 6rem;
    }
  }
}

/* #snowdom-world {
  margin-inline: 3rem;
  margin-block: 3rem;
} */
