:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: black;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  background: url(./bg.png) no-repeat top left;
  background-size: 100%;
}

.packages {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-inline-start: 14.3%;
  margin-inline-end: 18.2%;
  padding-block: 18%;
  opacity: 0.5;

  .btn {
    position: static;
    width: 11.5%;
    aspect-ratio: 1;
    border-radius: 0.5rem;
  }
}

.btn {
  position: absolute;
  border-radius: 10rem;
  cursor: pointer;

  &:hover {
    background-color: rgba(255,0,0,0.2);
  }

  &.get-started {
    top: 41.7%;
    left: 43%;
    width: 132px;
    height: 45px;
  }

  &.ex-hub {
    top: 49.2%;
    left: 34.3%;
    width: 164px;
    height: 40px;
  }
  
  &.figma {
    top: 49.2%;
    left: 47.5%;
    width: 89px;
    height: 40px;
  }

  &.github {
    top: 49.2%;
    left: 54.9%;
    width: 91px;
    height: 40px;
  }
}

#snowdom-world {
  height: 100vh;
  /* margin-inline: 3rem;
  margin-block: 3rem; */
}
